header{
    background-color: #1f2937;
}   
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo{
    font-size: 24px;
    margin-left: 200px;
    color: #f9faf8;
    
}
.linkcontainer{
   font-size: 18px;
   margin-right:80px ;
   
}
a{
    text-decoration: none;
    color:#e5e7eb ;
}
ul{
    list-style-type: none;
    margin: 0;
    display: flex;
    padding: 0;
    gap: 12px;
}

.hero{
    display: flex;
}